.sidebar_header{
	position: fixed;
	width: 450px;
	margin-left:0px;
	overflow:hidden;
	height: 100vh;
	max-height:100vh;
	background-color:rgba(17,17,17,0.9);
	
}

#search{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: 'Open Sans';
	font-size: 16px;
	background-color:#575b59;
    color:white;
}

/* placeholder text for Chrome browser*/
#search::-webkit-input-placeholder{
	color:white;
}

/* placeholder text for IE 10+ browser*/
#search:-ms-input-placeholder{
	color:white;
}

.boxed_record{
padding: 12px 20px;
}

.box_bold{
	
font-weight:800;
}

.box_title{
color:white;
font-family: 'Open Sans';
font-weight: 200;
font-size: 12px;
text-align:center;
padding: 5px 0;
}

#navigation_menu{
padding: 12px 20px;
display: block;

}

.navigation_item{
font-weight: 200;
display: block;
font-family: 'Open Sans';
color: white;
padding: 12px 0;
box-sizing:border-box;
font-size: 14px;
color: #D8D8D8;
width:100%;
cursor:pointer;	
transition: all 0.8s ease-in-out;
text-transform: uppercase;
}

.navigation_item:hover{
	background-color: #575b59;
	color:#111;
	transition: all 0.8s ease-in-out;
}


.active{
    background-color: #575b59;
	color:#111;
	transition: all 0.8s ease-in-out;
}

.navigation_item a {
    color: white;
	text-decoration: none;
}

.navigation_item span {
    color: white;
}

.move_surname
{
	margin-left: 10px;
}

.move_company
{
	margin-left: 20px;
	display:none;
}
#guest_total{
font-weight: 500;
display: block;
color: white;
padding: 12px 0;
box-sizing:border-box;
font-size: 20px;
color: #D8D8D8;
width:100%;
	
transition: all 0.8s ease-in-out;
text-transform: uppercase;
}

/* Guest information Div styling and positioning*/
.guest_info
{
	position: fixed;
	width: 450px;
	margin-left:600px;
	margin-top: 250px;
	height: 350px;
	max-height:100vh;
	background-repeat: no-repeat;
    border-bottom: 1px solid #045f84;
    -webkit-filter: none;
    border: 1px solid #d5d5d5;
    border-bottom-width: 1px;
    border-bottom-width: 0px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(#fff, #ccc);
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
    padding: 0 10px;
	    border-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

  

.navigation_links
{
	margin-left:35px;;
}

/*Draw a white circle*/
.numberCircle {
    
font: 40px Arial, sans-serif;
    width: 2em;
    height: 2em;
    box-sizing: initial;
    position:fixed;
    background: #fff;  
    color: #666;
    text-align: center;
    border-radius: 50%;    
    line-height: 2em;
}

/*Label styling and positioning*/
#guest_name{
	position:fixed;
	font: 32px Arial, sans-serif;
	font-size: 20px;
	position:fixed;
	margin-top:25px;
	margin-left: 100px;
}
#guest_company{
	position:fixed;
	font: 32px Arial, sans-serif;
	font-size: 15px;
	position:fixed;
	margin-top:55px;
	margin-left: 100px;
	font-style: italic;
}
.guest_hr{
	position:fixed;
  height: 50px;
  width: 472px;
  margin-left: -10px;
  margin-top: 50px;
  border-bottom: 2px solid gray;
}
#guest_contacts{
	position:fixed;
	font: 32px Arial, sans-serif;
	font-size: 17px;
	margin-top:120px;
	margin-left: 20px;
}

/*Input fields styling*/
input.email, input.cell_num{
  width: 300px;
  min-height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  letter-spacing: .5px;
  border: 0;
  border-bottom: 2px solid gray; 
  background:transparent;
  font-size: 17px;
   
}

input.email:focus,input.cell_num:focus{
    outline: none;
}
	

.email,
.cell_num{
  position:fixed;
  z-index:1;
  padding-left:20px;
  font-family: 'Open Sans', sans-serif;
  color:black;
  font-weight:lighter;

}
.email{
	position:fixed;
	margin-top:160px;
    margin-left: 20px;}
	::-webkit-input-placeholder{
	color:Black;
}


.cell_num{
	position:fixed;
	margin-top:220px;
	margin-left: 20px;
}

/* Button styling, responsiveness*/
#btn_add:hover
{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}

#btn_add{
	position:fixed;
	margin-top:280px;
	margin-left: 280px;
	border-radius: 8px;
	color: black;
	display: block;
	font-size: 14px;
	height: 30px;
	text-align: center;
	width: 150px;
}

.btn {
  color:#ffff;
	background: gray;;
	box-shadow: 0 4px 0 gray;
}